/* Breakpoints: From xs to sm, from sm to md, from md to lg, after that simple desktop */
$breakpoints: (
    xs: 0,
    sm: 768px,
    md: 1280px,
    lg: 1440px,
    xl: 1920px,
);

/* Colors */
$base-0: #fff;
$base-50: #f6f6f6;
$base-100: #eaeaea;
$base-110: #eaeaeab8;
$base-200: #d1d2d2;
$base-250: #e2e2e3;
$base-300: #a3a4a5;
$base-400: #757777;
$base-500: #46494a;
$base-600: #181c1d;
$base-700: #131617;
$base-800: #0f1111;
$base-900: #0a0b0c;
$base-950: #2d2d2d;
$base-1000: #212121;

$black: #000;

$primary-500: #009eae;
$primary-600: #04a4b5;

$blue: #38adc2;
$blue-hover: #3dbad0;

$white-16: rgba($base-0, .16);
$white-20: rgba($base-0, .2);
$white-24: rgba($base-0, .24);
$white-40: rgba($base-0, .4);
$white-48: rgba($base-0, .48);

$error: #cb4343;

/* Gradients */
$blue-gradient: radial-gradient(66.56% 66.56% at 50% 50%, #030e35 0%, #2d6a82 56.25%, #8bc2c5 100%);

/* Fonts */
$base-font: "Ruberoid", sans-serif;
$accent-font-family: "Montserrat", sans-serif;
$rouble-font-family: "Poppins", sans-serif;
$font-size: 1.4rem;
$body-color: #0f1111;
$body-bg: #fff;

/* Grid */
$container-width: 1920px;
$header-h: 8rem;
$header-mobile-h: 6.4rem;
$header-plank-h: 4rem;

/* Spacing */
$side-padding: 2.4rem;
$side-padding-mobile: 1.6rem;

/* Transitions */
$default-transition: .3s ease;
$default-color-transition: .2s ease;

/* Pdf page */
$p-height: 1122px;
$p-width: 793.37381px;
$p-diff: 1.2;

/* vh variables for mobile devices */
:root {
    --vh-full-page: 100vh;
}

:export {
    base-0: $base-0;
    base-50: $base-50;
    base-100: $base-100;
    base-200: $base-200;
    base-300: $base-300;
    base-400: $base-400;
    base-500: $base-500;
    base-600: $base-600;
    base-700: $base-700;
    base-800: $base-800;
    base-900: $base-900;
    base-1000: $base-1000;
    header-h: $header-h;
    header-mobile-h: $header-mobile-h;
    header-plank-h: $header-plank-h;
}
