@import './common/fonts';
@import './common/reset';
@import './common/text';
@import './common/transitions';

.page {
    //padding-top: $header-h;
    //
    //@include respond-to(xs) {
    //    padding-top: $header-mobile-h;
    //}
}

.container {
    max-width: $container-width;
    margin-right: auto;
    margin-left: auto;
    padding: 0 $side-padding;

    @include respond-to(xs) {
        padding: 0 $side-padding-mobile;
    }
}

.lazy-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease 0.1s;

    &[lazy='loaded'] {
        opacity: 1;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    // z-index: 200;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-overflow-scrolling: touch;
}

.modal-wrap {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 1px;
    min-height: 100%;
    pointer-events: all;
}

.print-page {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: $p-width;
    height: $p-height;
    break-after: page;
}

.scroll-lock {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    max-height: 100vh;
    overflow: hidden;
    -webkit-overflow-scrolling: none;

    overscroll-behavior: none;
    touch-action: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}

// Стили для виджета ройстата
.roistat-multiwidget-pulsator-holder {
    bottom: 9% !important;
}

body._hideWidgets {
    .roistat-multiwidget-pulsator-holder {
        display: none;
    }

    .marquiz-widget {
        display: none;
    }
}
