/* Text */

.h1 {
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 6.9rem;
}

.h2 {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 5.8rem;
    // letter-spacing: -.02em;
}

.h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.8rem;
    // letter-spacing: -.02em;
}

.h4 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8rem;
    // letter-spacing: -.04em;
}

.h5 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.8rem;
}

.h6 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.6rem;
}

.p1 {
    font-family: $accent-font-family;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
}

.p2 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    letter-spacing: -.02em;
}

.p3 {
    font-family: $accent-font-family;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.95rem;
}

.p4 {
    font-family: $accent-font-family;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
}

.p5 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
}

.p6 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
}

.p7 {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.6rem;
}

.p8 {
    font-family: $accent-font-family;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
}

//p {
//    font-size: 14px;
//    line-height: 1.5;
//}
//
//.text {
//    font-size: 14px;
//    line-height: 1.5;
//
//    p {
//        margin-bottom: 16px;
//
//        &:last-child {
//            margin-bottom: 0;
//        }
//    }
//}

/* Colors */
.c-base0 {
    color: $base-0;
}

.c-base200 {
    color: $base-200;
}

.c-base300 {
    color: $base-300;
}

.c-base400 {
    color: $base-400;
}

.c-base600 {
    color: $base-600;
}

.c-blue {
    color: $blue;
}

/* Weight */
